@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');
.quotes {
  font-family: 'GmarketSans', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
}

.bodyQuotes {
  font-family: 'GmarketSans', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

sup {
  vertical-align: super;
  font-size: 0.7em;
  font-weight: 600;
  color: var(--brand500);
}

/* =====================
   Detail Styles
===================== */
.spotlight-banner {
  position: relative;
  width: 100%;
  height: 700px;
  max-height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .spotlight-banner {
    max-height: 500px;
    height: 500px;
  }
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.12));
  backdrop-filter: blur(12px);
  z-index: 1;
}

.banner-inner {
  position: relative;
  z-index: 2;
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.banner-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-size: var(--text-lg);
}

.banner-meta .banner-number {
  background-color: var(--brand500);
  padding: 4px 16px;
  border-radius: 9999px;
  font-weight: 600;
}

.banner-title {
  font-size: var(--title-important);
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  word-break: keep-all;
}

.banner-theme {
  text-align: center;
  word-break: keep-all
}

.lead-section {
  padding: 60px 0;
  background-color: var(--gray200);
  color: var(--gray700);
  text-align: justify;
  line-height: 1.8;
}

.lead-container {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lead-text {
  font-size: var(--text-lead);
  font-weight: 500;
  word-break:break-all;
}

.lead-author {
  text-align: right;
  font-size: var(--text-lg);
  word-break: keep-all;
}

.main-content {
  max-width: 880px;
  margin: 0 auto;
  padding: var(--content-spacing) 40px;
}

.sub-heading {
  width: fit-content;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 8px;

  color: var(--gray700);
  background-color: var(--gray200);
  border: 1px solid var(--gray300);

  margin-top: 20px;
  margin-bottom: 16px;
  padding:8px 12px;
}

@media (max-width: 768px) {

  .lead-section {
    padding: 40px 0;
  }
  .lead-container {
    padding: 0 20px;
  }

  .banner-inner {
    padding: 0 20px;
  }

  .banner-title {
    font-size: 24px;
  }

  .main-content {
    padding: var(--content-spacing) 20px;
  }

  .sub-heading {
    font-size: 16px;

    border-radius: 8px;

    margin-top: 16px;
    margin-bottom: 12px;
    padding:6px 8px;
  }
}

/* =====================
   Datapoint Lead Section
===================== */
.datapoint-lead-wrapper {
  padding: 40px 20px;
  background-color: var(--gray100);
}

.datapoint-lead-inner {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.datapoint-lead-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: justify;
  word-break: break-all;
  font-size: var(--text-lead);
}

.datapoint-lead-label {
  font-weight: 600;
  background-color: var(--brand500);
  color: white;
  width: fit-content;
  padding: 2px 12px;
  line-height: 1.6;
  border-radius: 4px;
}

.datapoint-lead-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 1.6;
}

.datapoint-lead-content {
  font-weight: 500;
  width: 100%
}

.datapoint-lead-content > div {
  display: flex;
}

.datapoint-lead-content > div > p:first-child {
  width: fit-content;
  margin-right: 8px;
}
.datapoint-lead-content > div > p:last-child {
  width: fit-content;
}

/* =====================
   Video
===================== */
.video-frame {
  aspect-ratio: 16 / 9;
  margin-top:var(--content-spacing);
  height: 100%;
}

.video-frame iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1280px) {
  .video-frame {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .video-frame {
    margin-top: 60px;
  }
}

/* =====================
   Interview
===================== */
.interview-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: var(--text-lg);
  word-break: break-all;
  text-align: justify;
}

.interview-sub-heading {
  width: fit-content;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 8px;

  color: white;
  background-color: var(--brand500);

  margin-top: 20px;
  margin-bottom: 4px;
  padding:8px 12px;
}

.interview-summary {
  padding: 8px 12px;
  background-color: var(--gray200);
  border-radius: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 40px;
}

.interview-qna {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.8;
}

.interview-q {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .interview-summary {
    padding: 6px 8px;
    font-size: 18px;
  }

  .interview-sub-heading {
    font-size: 14px;

    margin-top: 0px;
    margin-bottom: 0px;
    padding:6px 8px;
  }

  .interview-q {
    font-size: 18px;
  }
}


/* =====================
   SubTitle Styles
===================== */
.subtitle-wrap {
  position: relative;
  margin-top: var(--content-spacing);
  margin-bottom: 24px;
  word-break: keep-all;
}

@media (max-width: 1280px) {
  .subtitle-wrap {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .subtitle-wrap {
    margin-top: 60px;
    margin-bottom: 16px;
  }
}

.subtitle-bar-desktop {
  display: none;
}

@media (min-width: 768px) {
  .subtitle-bar-desktop {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 80%;
    background-color: var(--brand500);
  }
}

.subtitle-inner {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .subtitle-inner {
    padding-left: 20px;
    flex-direction: row;
    gap: 12px;
  }
}

.subtitle-bar-mobile {
  width: 22px;
  height: 4px;
  background-color: var(--brand500);
}

@media (min-width: 768px) {
  .subtitle-bar-mobile {
    display: none;
  }
}

.subtitle-text {
  font-size: var(--title-Manuscript);
  font-weight: 600;
  color: var(--brand500);
}

/* =====================
   Section Body
===================== */
.section-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: var(--text-lg);
  word-break: break-all;
}

.paragraph {
  color: var(--gray700);
  text-align: justify;
  line-height: 1.8;
}

.added-text {
  font-size: var(--text-md);
  color: var(--gray400);
}

@media (max-width: 768px) {
  .section-body {
    gap: 28px;
  }
}

/* =====================
   Law
===================== */
.opinion-wrap {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding:16px;
  border-radius: 8px;
  background-color:var(--gray200);
}

.opinion-contents {
  font-size: 16px;
  font-style: italic;
  line-height: 1.6;
  text-align: justify;
}

.opinion-interviewer {
  font-size: 16px;
  line-height: 1.6;
  color: var(--brand600);
  text-align: justify;
}

@media (max-width: 768px) {
  .opinion-wrap {
    gap: 12px;
    padding:16px;
    border-radius: 8px;
  }

  .opinion-contents {
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
  }

  .opinion-interviewer {
    font-size: 14px;
    line-height: 1.8;
    text-align: justify;
  }
}


/* =====================
   Image
===================== */
.image-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-title,
.image-caption {
  font-size: var(--text-md);
  color: var(--gray500);
  line-height: 1.4;

  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text-brand {
  color: var(--brand500);
}

.section-image {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .image-wrap {
    gap: 12px;
  }

  .image-title, .image-caption {
    font-size: 14px;
  }
}

/* =====================
   Table
===================== */
.table-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}

.table-title {
  font-size: var(--text-md);
}

.table-number {
  color: var(--brand500);
}

.table-scroll {
  overflow-x: auto;
  font-size:14px;
  border: 1px solid var(--gray200);
}

.responsive-table {
  min-width: 320px;
  width: 100%;
  border-collapse: collapse;
}

.responsive-table thead tr {
  background-color: var(--brand500);
  color: white; 
}

.responsive-table th,
.responsive-table td {
  text-align: center;
  word-break: keep-all;
  vertical-align: middle;
}

.responsive-table th {
  padding: 12px;
}

.responsive-table td {
  padding: 8px;
  border: 1px solid var(--gray200);
}

.responsive-table td {
  background-color: var(--gray100);
}

.table-caption {
  font-size: var(--text-md);
  text-align: left;
}

@media (max-width: 768px) {
  .table-wrap {
    gap: 12px;
  }

  .table-title {
    font-size: 14px;
  }

  .responsive-table th,
  .responsive-table td {
    padding: 4px;
  }

  .table-caption {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .table-wrap {
    gap: 12px;
  }

  .table-scroll {
    font-size:12px;
  }

  .table-title {
    font-size: 14px;
  }

  .responsive-table th,
  .responsive-table td {
    padding: 4px;
  }
}

/* =====================
   Reference List
===================== */
.reference-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: var(--content-spacing);
}

.reference-title {
  font-size: var(--title-thumnail);
  font-weight: 600;
}

.reference-items {
  font-size: var(--text-md);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reference-items li {
  word-break: break-all;
  list-style: none;
}
.reference-items a:hover {
  text-decoration: underline;
}

@media (max-width: 1280px) {
  .reference-list {
    margin-top: 80px;
  }
}

@media (max-width: 768px) {
  .reference-list {
    margin-top: 60px;
    gap: 8px;
  }

  .reference-items {
    font-size: var(--text-sm);
  }
}

/* =====================
   Author Profile Styles
===================== */
.author-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-top: 1px solid var(--gray300);
  border-bottom: 1px solid var(--gray300);
  margin-top: 60px;
}

@media (min-width: 768px) {
  .author-profile {
    flex-direction: row;
    gap: 24px;
    margin-top: 80px;  
  }
}

@media (min-width: 1280px) {
  .author-profile {
    margin-top: var(--content-spacing);
  }
}

.author-img {
  width: 33.3333%;
  min-height: 330px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .author-img {
    min-height: 200px;
    min-width: 140px;
  }
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.author-name {
  font-size: var(--title-sectionEnglish);
  font-weight: 600;
  color: var(--brand500);
  line-height: 1.4;
}

.author-affiliation {
  font-size: var(--text-lg);
  font-weight: 400;
  color: var(--gray700);
}

.author-description {
  font-size: var(--text-sm);
  color: var(--gray700);
  line-height: 1.8;
  text-align: justify;
  word-break: break-all;
}

@media (min-width: 768px) {
  .author-description {
    font-size: var(--text-md);
  }
}

.pc-br {
  display: block;
}

@media (max-width: 768px) {
  .pc-br {
    display: none;
  }
}

.mobile-br {
  display: block;
}

@media (min-width: 768px) {
  .mobile-br {
    display: none;
  }
}

/* =====================
   Post Navigator Styles
===================== */
.post-navigator {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--gray200);
  color: var(--gray700);
  margin-top:120px;
}

.first-nav {
  width: 100%;
  padding: 60px 40px 60px 120px;
}
.last-nav {
  width: 100%;
  padding: 60px 120px 60px 40px;
}

.post-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-decoration: none;
}

.post-nav-div {
  width: 1px;
  height: 100px;
  background: var(--gray400);
}

.post-nav.prev {
  padding: 60px 120px 60px 40px;
  align-items: flex-end;
}
.post-nav.next {
  padding: 60px 40px 60px 120px;
}


.post-nav.prev:hover > div,
.post-nav.next:hover > div {
  text-decoration: underline;
}

.post-nav-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--title-sectionEnglish);
  font-weight: 600;
}

.post-nav-title {
  font-size: var(--text-md);
  word-break: keep-all;
}

.post-nav.prev .post-nav-title {
  text-align: right;
}

.arrow {
  width: 24px;
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 1280px) {
  .post-nav.prev {
    padding: 40px 60px 40px 40px;
    align-items: flex-end;
  }
  .post-nav.next {
    padding: 40px 40px 40px 60px;
  }
}

@media (max-width: 768px) {
  .post-navigator {
    flex-direction: column;
    margin-top: 80px;
  }

  .first-nav,
  .last-nav {
    display: none;
  }

  .post-nav.prev {
    padding: 40px 20px;
    align-items: flex-end;
  }
  .post-nav.next {
    padding: 40px 20px;
  }

  .post-nav-div {
    display: none;
  }

  .post-nav.prev {
    border-bottom: 1px solid var(--gray300);
    border-right:none;
  }
  .post-nav.next {
    border-left: none;
  }
}

/* =====================
   Progress Bar
===================== */
#progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--gray200);
  z-index: 9999;
}

#progress-bar {
  height: 100%;
  background-color: var(--brand500);
  width: 0%;
  transition: all 0.2s;
}

/* =====================
   Top Button
===================== */
.anchor-button {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}

.anchor-button.show {
  opacity: 1;
  pointer-events: auto;
}

.anchor-button-inner {
  width: 48px;
  height: 48px;
  background-color: var(--brand500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchor-button-inner img {
  width: 24px;
}

@media (max-width: 1280px) {
  .anchor-button {
    bottom: 40px;
    right: 40px;
  }
}

@media (max-width: 768px) {
  .anchor-button {
    bottom: 20px;
    right: 20px;
  }

  .anchor-button-inner {
    width: 40px;
    height: 40px;
  }

  .anchor-button-inner img {
    width: 20px;
  }
}